.container{
  
}

.editor{
    display: flex;
    gap: 20px;
    height: 700px;
}

.button, .addButton{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--softTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.textArea{
    width: 100%;
}